<div class="page contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 page-title">
                <h1>{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <app-contact-item [contactItem]="email" class="col-12 col-md-4 contact-data"></app-contact-item>
            <app-contact-item [contactItem]="whatsapp" class="col-12 col-md-4 contact-data"></app-contact-item>
            <app-contact-item [contactItem]="linkedin" class="col-12 col-md-4 contact-data"></app-contact-item>
        </div>
    </div>
</div>
