.contact{
    vertical-align: middle;
    padding: 5rem 0;
}
.blue-color{
    color: rgb(0, 140, 255);
}
.col-12:first-of-type{
    margin-bottom: 5rem;
}
.contact h1, .contact h2{
    text-align: center;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.contact-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
}

@media (max-width: 600px) {
    .contact{
        padding: 1rem 0;
    }
    .col-12:first-of-type{
        margin-bottom: 1.5rem;
    }
    .contact h1{
       font-size: 2em;
    }
    .contact h2{
        font-size: 1.5em;
    }
}