<section class="about">
    <div class="about__bio-image">
        <div class="about__bio">
            <h2>J. Eduardo <span>Castillo</span></h2>
            <p>
                I am a creative programmer with seven years of experience in full stack programming, specializing in languages like Java and Javascript. I also have skills in web layout with tools such as Photoshop and Illustrator. Always get great results for my clients and employers.
            </p>
        </div>
    </div>
    <div class="bio">
        <div class="row">
            <div class="col-12 col-md-4 text-center py-2">
                <h4>Education</h4>
                <p>
                    Associate Degree in Information Technology <br> (System Analyst)
                </p>
            </div>
            <div class="col-12 col-md-4 text-center py-2">
                <h4>Age</h4>
                <p>
                    <span alt="Cumpleaños">{{ 2022 - 1986 }}</span>
                </p>
            </div>
            
            <div class="col-12 col-md-4 text-center py-2">
                <h4>Hobies</h4>
                <mat-icon aria-hidden="false" aria-label="Example home icon">sports_esports</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon">fitness_center</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon">directions_bike</mat-icon>
            </div>
        </div>
        <!-- <p class="text-center">
            <a mat-raised-button class="download_button"
                href="#"
                target="_blank">
                Descargar CV
            </a>
        </p> -->
    </div>
</section>