<div class="page about">

  <div class="container">
    <div class="row">
      <div class="col-12 page-title">
        <h1 class="text-center">{{title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-11 offset-md-1">
        <p class="about-me">{{aboutMe ?? 'No information available.' }}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-12 col-md-11 offset-md-1">
      <h3>Impact</h3>
    </div>
    <div class="col-12 col-md-11 offset-md-1" *ngFor="let skill of impact">
      <div class="impact">
        <h5>- {{skill.name}}</h5>
        <p>{{skill.description}}</p>
      </div>
    </div>
  </div>
  <div class="me"></div>
</div>
