@import "../../../scss/config";
@import "../../../scss/responsive";

.social-icons {
  position: fixed;
  bottom: 1rem;
  left: 0.5rem;
  a {
    color: $secondary-color;
    padding: 0.4rem;
  }
  transition: all 1s ease-in-out;
}

footer {
  font-size: 1rem;
  bottom: 0.7rem;
  right: 0.5rem;
  text-align: right;
  padding: 1rem;
  color: set-text-color($primary-color);
  opacity: 0.5;
  position: fixed;
}

.get-attention {
  bottom: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  &::after {
    position: absolute;
    font-size: 1.25rem;
    content: "LinkedIn";
    top: 4.7rem;
    left: -0.25rem;
  }
}

@include media-md {
  .get-attention {
    bottom: 47%;
  }
}
