<nav>
    <div class="container">
        <div class="row">
            <div class="nav-bar">
                <div class="nav-button">
                    <button mat-icon-button id="home-icon" (click)="navigate('home')" aria-label="Inicio">
                        <mat-icon>home</mat-icon>
                    </button>
                    <p>Inicio</p>
                </div>
                <div class="nav-button">
                    <button mat-icon-button id="about-icon" (click)="navigate('about')" aria-label="Example icon button with a home icon">
                        <mat-icon>person</mat-icon>
                    </button>
                    <p>Sobre mi</p>
                </div>
                <div class="nav-button">
                    <button mat-icon-button id="experience-icon" (click)="navigate('experience')" aria-label="Example icon button with a home icon">
                        <mat-icon>grade</mat-icon>
                    </button>
                    <p>Experiencia</p>
                </div>
                <div class="nav-button">
                    <button mat-icon-button id="contact-icon" (click)="navigate('contact')" aria-label="Example icon button with a home icon">
                        <mat-icon>local_post_office</mat-icon>
                    </button>
                    <p>Contacto</p>
                </div>
            </div>
        </div>
    </div>
</nav>