<div class="menu-btn" [ngClass]="{'open' : showMenu}" (click)="toggleMenu()">
    <span class="menu-btn__burger" [ngClass]="{'open' : showMenu}"></span>
</div>
<nav class="nav" [ngClass]="{'open' : showMenu}">
    <ul class="menu-nav" [ngClass]="{'open' : showMenu}" (click)="toggleMenu()">
        <li class="menu-nav__item" [ngClass]="{'open' : showMenu}">
            <a href="#" class="menu-nav__link"
            routerLinkActive="active" [routerLink]="['home']" (click)="onClickScroollTo('home-view')">Home</a>
        </li>
        <li class="menu-nav__item" [ngClass]="{'open' : showMenu}">
            <a href="#" class="menu-nav__link" routerLinkActive="active" [routerLink]="['about']" (click)="onClickScroollTo('about-view')">About Me</a>
        </li>
        <li class="menu-nav__item" [ngClass]="{'open' : showMenu}">
            <a href="#" class="menu-nav__link" routerLinkActive="active" [routerLink]="['experience']" (click)="onClickScroollTo('experience-view')">
                Experience</a>
        </li>
        <li class="menu-nav__item" [ngClass]="{'open' : showMenu}">
          <a href="#" class="menu-nav__link" routerLinkActive="active" [routerLink]="['education']" (click)="onClickScroollTo('education-view')">
              Education</a>
      </li>
        <!-- <li class="menu-nav__item" [ngClass]="{'open' : showMenu}">
            <a href="projects.html" class="menu-nav__link" routerLinkActive="active" [routerLink]="['portfolio']">My
                Projects</a>
        </li> -->
        <li class="menu-nav__item" [ngClass]="{'open' : showMenu}">
            <a href="contact.html" class="menu-nav__link" routerLinkActive="active" [routerLink]="['contact']" (click)="onClickScroollTo('contact-view')">Contact
                Me</a>
        </li>
    </ul>
</nav>
