<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md info">
                <h1>J. Eduardo Castillo</h1>
                <ngx-typed-js 
                    [strings]="['Backend', 'Frontend', 'FullStack^3000']" 
                    [typeSpeed]="100" 
                    [backSpeed]="100"  
                    [loop]="true">
                    <h2>Programador <span class="typing"></span></h2>
                </ngx-typed-js>
                <a href="https://www.linkedin.com/in/jesuseduaardo/" target="_blank">
                    <img id="linkedin_icon" src="/assets/img/linkedin.svg" alt="LinkedIn">
                </a>
            </div>
            <div class="col-md">
                <div class="round-pic">
                    <img src="/assets/img/perfil_pic.jpg" alt="J.Eduardo Castillo">
                </div>
            </div>
        </div>
    </div>
</div>