<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md info">
                <h1>J. Eduardo Castillo</h1>
                <ngx-typed-js 
                    [strings]="['Backend Developer', 'Frontend Developer', 'FullStack Developer^5000']" 
                    [typeSpeed]="100" 
                    [backSpeed]="100"  
                    [loop]="true">
                    <h2><span class="typing"></span></h2>
                </ngx-typed-js>
            </div>
        </div>
    </div>
</div>