@import "../../../scss/config";
@import "../../../scss/responsive";

.content {
  height: 100vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to left,
    rgba(183, 0, 255, 0.22),
    rgba(1, 1, 13, 0.51)
  );
  #background {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: url("../../../assets/img/me_working.png") -5rem 25rem;
    background-size: 200%;
    background-repeat: no-repeat;
    z-index: 0;
  }
  .info {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    .typing {
      color: $secondary-color;
    }
    i {
      font-size: 3rem;
      padding: 2rem;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

@include media-md {
  .content {
    position: relative;
    overflow: hidden;
    align-items: center;
    text-align: center;
    #background {
      height: 100vh;
      background: $primary-color url("../../../assets/img/me_working.png") -5rem
        0rem;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .info {
      position: absolute;
      top: 30%;
      left: 60%;
      transform: translate(0, -50%);
    }
  }
}
