@import "../../../../scss/config";

.card {
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.95rem;
  box-shadow: 2px 2px 1px $secondary-color;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  .card-img-top {
    width: 100%;
  }
  .card-title {
  }
  .card-subtitle {
  }
  .date-hours {
    display: flex;
  }
}
