@import "../../../scss/config";
@import "../../../scss/responsive";

.card {
  background: lighten($primary-color, 10%);
  border-bottom: 5px solid $secondary-color;
  margin: 0.5rem auto 0 auto;
  .card-text {
    text-align: start;
    &:last-child {
      text-align: end;
    }
  }
}

.certs {
  width: 16rem;
  margin: 0.5rem auto 0 0;
}

@include media-md {
  .certs {
    width: 22rem;
    margin: 0.5rem auto 0 auto;
  }
}
