<div class="experience">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Mi experiencia</h1>
            </div>
            <div class="col-12 col-md-6">
                <h3>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">school</mat-icon> 
                    Educaci&oacute;n
                </h3>
                <mat-accordion multi="true">
                    <mat-expansion-panel 
                        *ngFor="let educ of education" 
                        (opened)="panelOpenState = true" 
                        (closed)="panelOpenState = false" 
                        >
                        <mat-expansion-panel-header [collapsedHeight]="'100px'">
                            <mat-panel-title>
                                <div class="company-and-date">
                                    <h5>{{ educ.titulo }}</h5>
                                    <h6>{{ educ.institucion }}</h6>
                                </div>
                            </mat-panel-title>
                            <mat-panel-description class="fecha-ingreso-egreso">
                                <p>{{ educ.fechaFin | date:"MMM-y" }}</p>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div>
                            <p *ngIf="educ.duracion > 0">Duracion: {{ educ.duracion }}Hrs</p>
                            <a href="{{educ.certificacionUrl}}" target="_blank">
                            Ver Certificaci&oacute;n
                            </a>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="col-12 col-md-6">
                <h3>
                    <mat-icon aria-hidden="false" aria-label="empleos">keyboard</mat-icon> 
                    Empleos
                </h3>
                <mat-accordion multi="true">
                    <mat-expansion-panel 
                        *ngFor="let experience of experiences" 
                        (opened)="panelOpenState = true" 
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'">
                            <mat-panel-title>
                                <div class="company-and-date">
                                    <h5>{{ experience.empresa }}</h5>
                                    <h6>{{ experience.puesto }}</h6>
                                </div>
                            </mat-panel-title>
                            <mat-panel-description class="fecha-ingreso-egreso">
                                <p>
                                    <span>{{ experience.fechaIngreso | date:'MMM-y' }}</span> / 
                                    <span *ngIf="experience.fechaEgreso">{{ experience.fechaEgreso | date:'MMM-y' }}</span>
                                    <span *ngIf="!experience.fechaEgreso">Actualidad</span>
                                </p>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div *ngIf="experience.proyectos.length > 0" class="proyects-list">
                            <h5>Proyectos</h5>
                            <hr>
                            <ul class="proyects">
                                <li *ngFor="let proyect of experience.proyectos">
                                    <div>
                                        <h5>{{ proyect.nombre }}</h5>
                                        <p>{{ proyect.resumenProyecto }}</p>
                                        <div class="tecnologies">
                                            <h6>Tecnologias Empleadas</h6>
                                            <ul>
                                                <li *ngFor="let tecnologia of proyect.tecnologias">{{ tecnologia }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div *ngIf="experience.proyectos.length == 0 && experience.resumenProyecto.length">
                            <p>{{ experience.resumenProyecto }}</p>
                            <div class="tecnologies">
                                <h6>Tecnologias Empleadas</h6>
                                <ul>
                                    <li *ngFor="let tecnologia of experience.tecnologias">{{ tecnologia }}</li>
                                </ul>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">emoji_events</mat-icon> 
                    Habilidades
                </h3>
                

                <div class="stats" *ngFor="let hability of habilities">
                    <p>{{ hability.language.name }}  <small *ngIf="hability.language.version !== 0">v.{{ hability.language.version }}</small></p>
                    
                    <div class="progress my-1" *ngFor="let framework of hability.frameworks">
                        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': framework.percent +'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <p>
                                <span>{{ framework.name }}</span><span *ngIf="framework.version !== 0">- v.{{ framework.version }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



