.fecha-ingreso-egreso{
    flex-flow: row-reverse;
}
.experience{
    padding: 20px 0 70px;
}
.experience h1{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 25px;
}

hr{
    margin: 0.75em 0 0.75em 0;
}

.mat-expansion-panel-header[aria-disabled=true], .panel-header-description {
    color: rgba(0,0,0,.54);
}
.company-and-date{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.company-and-date h5, .company-and-date p{
    margin-bottom: 0;
    
} 
.company-and-date h5{
    color: rgb(0, 140, 255);
}
.chronology-list{
    list-style: none;
    padding: 0;
}
.proyects{
    padding-left: 0.85em;
}

.proyects-list{
    color: #777777;
}

.proyects h5{
    color: rgb(0, 140, 255);
}
.proyects h6{
    font-size: 14px;
    text-decoration: underline;
}

.proyects p{
    font-size: 14px;
}
.proyects > li{
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #e6e6e6;
}

.proyects > li:last-child{
    border-bottom: 0;
}

.tecnologies{
    color: #4b4b4b;
}
.tecnologies ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tecnologies li{
    font-family: monospace;
    margin: 2px;
}

.tecnologies li::after{
    content: "|";
    color: #cccccc;
}
.tecnologies li:last-child::after{
    content: "";
}

.data-card{
    margin: 5px 0;
}
.stats p{
    margin: 0;
}
.stats{
    margin-bottom: 20px;
}

.progress{
    height: 25px;
}

@keyframes scale-up-hor-left {
    0% {
      transform: scaleX(0.4);
      transform-origin: 0% 0%;
    }
    100% {
      transform: scaleX(1);
      transform-origin: 0% 0%;
    }
  }


@media (max-width: 600px) {
    .mat-expansion-panel-header-title{
        margin-right: 5px !important;
    }
    .mat-expansion-panel-header-description{
        margin-right: 5px !important;
        text-align: right;
    }
    .company-and-date h5{
        font-size: 1rem;
    }
    .percent span{
        font-size: 0.6em;
    }
    h3{
        margin: 15px 0;
    }
}